body{
    background-color: #FFFFFF;

}
h1{
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 42px;
    color: #d40000;
}

#background{
    background-color: #FFFFFF;
}
#mid{
    width: 300px;
    margin: 20px auto;
    background-color: #FFFFFF;
}

#answer{
    font-size: 30px;
    color: #d40000;
}

#name{
    font-size: 12px;
    text-align: center;
}
